@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* ------ PAGE PONTO TURISTICO ------ */
/*.container-ponto{
  display: grid;
  grid-template-rows: auto;
}*/

.box-ponto {
  width: 1300px;
  height: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 6%;
  background-color: #EFF0F4;
  display: flex;
  border-radius: 10px;
  padding: 50px;
  gap: 40px;
}

/*#img-ponto {
  margin: 5%;
  border-radius: 8%;
  height: 100%;
}*/
.img-ponto {
  border-radius: 8%;
  box-shadow: 2px 2px 4px black;
}

.title_ponto {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 5%;
}

.title_ponto span {
  color: #F8B86E;
  font-weight: 600;
}

.title_ponto p {
  margin-top: 15%;
  font-size: 20px;
  color: #666161c5;
}

@media screen and (max-width: 1440px) {
  .container-ponto {
      margin-top: -4%;
  }
}