@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* ------ ICON LOGIN ------ */
.imgcontainer {
  text-align: center;
}
img.avatar {
  width: 40px;
  height: 40px; 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.344);
  border-radius: 50%;
}
/* ------ PAGE PONTO TURISTICO ------ */
.box-ponto {
  width: 1300px;
  height: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 6%;
  background-color: #EFF0F4;
  display: flex;
  border-radius: 5px;
  padding: 50px;
  gap: 40px;
}
/*#img-ponto {
  margin: 5%;
  border-radius: 8%;
  height: 100%;
}*/
.img-ponto {
  border-radius: 8%;
  box-shadow: 2px 2px 4px black;
}

.title_ponto {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 5%;
}

.title_ponto span {
  color: #F8B86E;
  font-weight: 600;
}

.title_ponto p {
  margin-top: 15%;
  font-size: 20px;
  color: #666161c5;
}

@media screen and (max-width: 1440px) {
  .container-ponto {
      margin-top: -4%;
  }
}

/* ------ PAGE EVENTO ------ */
.title_evento {
  font-family: 'Raleway', sans-serif;
  margin: 3%;
}
.title_evento p {
  margin-top: 6%;
  font-size: 18px;
  color: #666161c5;
}
.text_evento {
  line-height: 22px;
  margin-right: 70px;
  text-align: justify;
}
.descricao_evento {
  line-height: 0;
}
.img-evento {
  border-radius: 1%;
  box-shadow: 2px 2px 4px black;
  margin: auto;
}
.box-evento {
  width: 1300px;
  height: 100%;
  margin: auto;
  margin-top: -3%;
  margin-bottom: 4%;
  background-color: #EFF0F4;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  padding: 50px;
  gap: 40px;
}
.title_evento span {
  font-weight: 600;
  color: #26A999;
  font-size: 25px;
}
.agendar a {
  color: #26A999;
  text-decoration: none;
  position: absolute;
  left: 55%;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

