.apresentacao{
    font-family: 'Raleway';
    flex-direction: column;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 405px;
    font-weight: 300;
    font-size: 5px;
}
.titulo{
    margin-top: 0%;
    font-size: 75px;
}

.subtitulo{
    margin-bottom: 0%;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    background-image: url(../ASSETS/IMAGES/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px;
}

.flex-container > div > a {
    font-family: 'Raleway';
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}