html{
    background-image: url(../ASSETS/IMAGES/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px;
}

.apresentacao{
    font-family: 'Raleway';
    flex-direction: column;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 405px;
    font-weight: 300;
    font-size: 5px;
}
.titulo{
    margin-top: 0%;
    font-size: 75px;
    font-weight: 350;
}

.subtitulo{
    margin-bottom: 0%;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

@media (max-width: 576px) {
    .flex-container {
        display: flex;
        justify-content: left;
    }
    .apresentacao{
        display: flex;
        flex-wrap: wrap;
    }
    .subtitulo{
        display: contents;
    }
    .titulo{
        font-size: 55px;
        font-weight: 300;
        text-align: center;
    }
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        min-height: 100%;
    }
  }

.flex-container > div > a {
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
    text-decoration: none;
}